[submodule "benchmarks/hle"]
	path = benchmarks/hle
	url = https://github.com/centerforaisafety/hle.git
[submodule "benchmarks/phybench"]
	path = benchmarks/phybench
	url = https://github.com/phybench-official/phybench.git
[submodule "benchmarks/prism"]
	path = benchmarks/prism
	url = https://github.com/Open-PRISM/PRISM-Physics-Code.git
[submodule "benchmarks/ugphysics"]
	path = benchmarks/ugphysics
	url = https://github.com/YangLabHKUST/UGPhysics.git
